/* 全局样式表 */
html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 20px;
}
.el-table{
    margin-top: 15px;
    font-size: 15px;
}
.el-pagination{
    margin-top: 15px;
}
.el-steps{
    margin: 15px 0;
}
.el-tab-pane{
    margin: 10px;
}